{% extends 'base.html.twig' %}

{% block title %}New Currency{% endblock %}
{% block page_title %} Currency {% endblock %}
{% block page_subtitle %} new {% endblock %}
{% block page_content %}

    {{ include('currency/_form.html.twig') }}

    <a href="{{ path('currency_index') }}">back to list</a>
{% endblock %}
