{% extends 'base.html.twig' %}

{% block title %}New TypeContrat{% endblock %}

{% block page_title %} Type de Contrat {% endblock %}
{% block page_subtitle %} new {% endblock %}
{% block page_content %}

    {{ include('type_contrat/_form.html.twig') }}

    <a href="{{ path('type_contrat_index') }}">back to list</a>
{% endblock %}
