<p>&nbsp;</p>
<table border="0" cellspacing="0"><colgroup width=""></colgroup> <colgroup ></colgroup> <colgroup span="2" ></colgroup> <colgroup span="2" ></colgroup>
<tbody>
<tr>
<td style="border-top: 3px double #4c4c4c; border-left: 3px double #4c4c4c; border-right: 2px solid #4c4c4c;" colspan="2" align="center" height="19"><strong>SALARIE</strong></td>
<td style="border-top: 3px double #4c4c4c; border-left: 2px solid #4c4c4c; border-right: 3px double #4c4c4c;" colspan="4" align="center"><strong>EMPLOYEUR</strong></td>
</tr>
<tr>
<td style="border-left: 3px double #4c4c4c; border-right: 2px solid #4c4c4c;" colspan="2" align="left" height="17">Nom</td>
<td style="border-right: 3px double #4c4c4c;" colspan="4" align="left">Soci&eacute;t&eacute;</td>
</tr>
<tr>
<td style="border-left: 3px double #4c4c4c; border-right: 2px solid #4c4c4c;" colspan="2" align="left" height="17">Adresse</td>
<td style="border-right: 3px double #4c4c4c;" colspan="4" align="left">Etablissement</td>
</tr>
<tr>
<td style="border-left: 3px double #4c4c4c; border-right: 2px solid #4c4c4c;" colspan="2" align="left" height="17">N&deg; SS</td>
<td style="border-right: 3px double #4c4c4c;" colspan="4" align="left">Adresse</td>
</tr>
<tr>
<td style="border-left: 3px double #4c4c4c; border-right: 2px solid #4c4c4c;" colspan="2" align="left" height="17">Emploi :</td>
<td style="border-right: 3px double #4c4c4c;" colspan="4" align="left">SIRET</td>
</tr>
<tr>
<td style="border-left: 3px double #4c4c4c; border-right: 2px solid #4c4c4c;" colspan="2" align="left" height="17">Classement : niveau &hellip;&hellip; - &eacute;chelon&hellip;&hellip;..</td>
<td style="border-left: 2px solid #4c4c4c; border-right: 3px double #4c4c4c;" colspan="4" align="left">N&deg; URSSAF NAF</td>
</tr>
<tr>
<td style="border-left: 3px double #4c4c4c; border-right: 2px solid #4c4c4c;" colspan="2" align="left" height="17">Mode de r&egrave;glement</td>
<td style="border-right: 3px double #4c4c4c;" colspan="4" align="left">Convention collective : convention collective nationale des</td>
</tr>
<tr>
<td style="border-bottom: 2px solid #4c4c4c; border-left: 3px double #4c4c4c; border-right: 2px solid #4c4c4c;" colspan="2" align="center" height="35">&nbsp;</td>
<td style="border-bottom: 2px solid #4c4c4c; border-left: 2px solid #4c4c4c; border-right: 3px double #4c4c4c;" colspan="4" align="left">CHR du 30 avril 1997, modifi&eacute;e par les accords du 13/07/04 et du 2/11/04 et par l'avenant n&deg; 2</td>
</tr>
<tr>
<td style="border-top: 2px solid #4c4c4c; border-bottom: 1px solid #4c4c4c; border-left: 3px double #4c4c4c; border-right: 2px solid #4c4c4c;" colspan="2" align="left" valign="middle" height="19">P&eacute;riode du 01/02/07 au 28/02/07</td>
<td style="border-top: 2px solid #4c4c4c; border-bottom: 1px solid #4c4c4c; border-left: 2px solid #4c4c4c; border-right: 3px double #4c4c4c;" colspan="4" align="left" valign="middle">Date de la paie : 27/02/07</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
