{% extends 'base.html.twig' %}

{% block title %}Edit AdvanceSalaire{% endblock %}

{% block body %}
    <h1>Edit AdvanceSalaire</h1>

    {{ include('advance_salaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('advance_salaire_index') }}">back to list</a>

    {{ include('advance_salaire/_delete_form.html.twig') }}
{% endblock %}
