{% extends 'base.html.twig' %}

{% block title %}New Entreprise{% endblock %}
{% block page_title %} Entreprise {% endblock %}
{% block page_subtitle %} New {% endblock %}
{% block page_content %}

    {{ include('entreprise/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('entreprise_index') }}"><i class="fa fa-arrow-left"></i>back to list</a>
{% endblock %}
