{% extends 'base.html.twig' %}

{% block title %}New Departement{% endblock %}
{% block page_title %} Departement {% endblock %}
{% block page_subtitle %} new {% endblock %}
{% block page_content %}

    {{ include('departement/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('departement_index') }}"><i class="fa fa-arrow-left"></i>back to list</a>
{% endblock %}
