{% form_theme form '@AdminLTE/layout/form-theme-horizontal.html.twig' %}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary pull-right">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
