<form method="post" action="{{ path('ca_type_delete', {'id': ca_type.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ca_type.id) }}">
    <button class="btn btn-danger"><i class="fa fa-trash"></i> Delete</button>
</form>
