{% extends 'base.html.twig' %}

{% block title %}New Contrat{% endblock %}
{% block page_title %} Contrat {% endblock %}
{% block page_subtitle %} new {% endblock %}
{% block page_content %}

    {{ include('contrat/_form.html.twig') }}
    <a class="btn btn-warning" href="{{ path('contrat_index') }}"><i class="fa fa-arrow-left"></i>back to list</a>
{% endblock %}
